.header {
  display: block;
  max-width: 880px;
  min-width: 282px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  min-height: 74px;
  position: relative;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}

@media screen and (max-width: 700px) {
  .header {
    margin-top: 28px;
    margin-bottom: 44px;
    min-height: 55px;
    max-width: 100%;
  }
}
